# =============================================================================
#  Ether Userbot System
#
#  Project Name:  Ether
#  Author:        LearningBotsOfficial
#
#  Repository:    https://github.com/LearningBotsOfficial/Ether
#
#  Support:       https://t.me/Ether_Support
#  Channel:       https://t.me/Ether_Update
#
#  License:       Open Source (Keep Credits)
#
#  IMPORTANT:
#    - If you copy, fork, or reuse this project or any part of it,
#      you MUST retain original credits.
#    - Proper attribution to Ether project is required.
#
#  Thank you for respecting open-source development.
# =============================================================================


API_ID=
API_HASH=
OWNER_ID=

BOT_TOKEN=
BOT_USERNAME=etheruserbot

SESSION_NAME=etheruserbot
SESSION_DIR=sessions

MONGO_URI=
DB_NAME=Ether

DEBUG=False

START_IMG_URL=